.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.logo {
  position: fixed;
  left: 20px;
  width: 80px;
  margin-top: 5px;
}

.avatar {
  position: fixed;
  right: 20px;
  width: 65px;
}

/* ul {
  left: 150px;
  justify-content: space-between;
  position: fixed;
  display: flex;
  color: white;
  font-size: 1rem;
  font-weight: lighter;
} */
.pages {
  margin-left: 100px;
  line-height: 10px;
}
.list {
  position: sticky;

  list-style: none;
  display: flex;
  float: left;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
  justify-content: space-between;
  padding: 5px;
}

.link {
  float: left;
  list-style: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  padding: 10px;
}

.link::after {
  position: absolute;
  border-radius: 5px;
  top: 30px;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(255, 0, 0);
  transition: width 0.4s ease-out;
}
.link:hover.link::after {
  width: 100%;
  border-radius: 5px;
}

/*ul::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff0202;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
ul:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
